@font-face {
    font-family: "Gilroy-Medium";
    src: url(/fonts/Gilroy-Medium.woff);
}

@font-face {
    font-family: "Gilroy-SemiBold";
    src: url(/fonts/Gilroy-SemiBold.woff);
}

@font-face {
    font-family: "Inter-Black";
    src: url(/fonts/Inter-Black.woff2);
}

@font-face {
    font-family: "Inter-Medium";
    src: url(/fonts/Inter-Medium.woff2);
}

@font-face {
    font-family: "Inter-Regular";
    src: url(/fonts/Inter-Regular.woff2);
}






*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

.list-reset {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: #313131;
}

.header {
    padding: 30px 15px 227px 15px;
    background: #F2F2F2;
}

.nav {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {

    display: flex;
    align-items: center;
    line-height: 21px;
    font-family: "Gilroy-SemiBold";
}

.menu-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.item-list {

    margin: 0px 15px;
    border-radius: 5px;
    transition: all 0.5s ease;
    font-family: 'Gilroy-Medium';
}

.item-list a {
    display: flex;
    height: 57px;
    line-height: 47px;
    padding: 5px 10px
}

.item-list:hover {
    background-color: #49AD09;

}

.item-list .link:hover {
    color: #fff;
}


.hero {
    text-align: center;
}


.hero .menu-list {
    justify-content: center;
    margin-top: 63px;
}


.hero-title {
    margin: 188px auto 0 auto;

    font-style: normal;
    font-weight: 800;
    font-size: 4rem;
    line-height: 80px;
    text-align: center;
    letter-spacing: -0.05em;
    max-width: 492px;
    color: #313131;
    font-family: "Inter-Black";
}

.hero-descr {
    margin: 40px auto 0 auto;
    max-width: 492px;
    font-family: 'Gilroy-Medium';
}


.text-dec {
    color: #49AD09;
}


.companies {
    padding: 76px 0 15px 0;
    display: flex;
    justify-content: center;
}

.companies img {
    max-width: 100%;
}

.spec-question {
    display: block;
    text-align: center;
    margin: 223px auto 0 auto;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 21px;
    color: #514040;
}

.spec-title {
    margin-top: 30px;
    font-family: Gilroy-Medium;
    font-size: 45px;
    line-height: 53px;

    color: #313131;
    text-align: center;
}

.spec-container {
    max-width: 808px;
    padding: 10px;
    margin: 80px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

.spec-item {
    padding: 40px 30px;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-title {
    font-family: "Gilroy-SemiBold";
    display: flex;
    align-items: center;
}

.item-title span {
    margin-left: 15px;
}

.item-descr {
    font-family: "Gilroy-Medium";
    margin-top: -4px;
}


.item-link {
    font-family: "Gilroy-Medium";
    font-size: 16px;
    text-decoration: underline;
    transition: all 0.5s ease;

}

.item-link:hover {
    color: #49AD09;
}

.spec-link {
    display: block;
    font-family: "Gilroy-Medium";
    font-size: 18px;
    padding: 18px 66px;
    width: 225px;
    margin: 80px auto 0 auto;

    border-radius: 5px;
    transition: all 0.5s ease;


}

.spec-link:hover {
    color: #fff;
    background-color: #49AD09;
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
}

.new {
    display: flex;
    width: 100px;
    margin: 0 auto;
}

.portfolio .spec-question {
    margin-top: 130px
}

.portfolio-container {
    max-width: 1010px;
    margin: 80px auto 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 49px;
    padding: 0 10px;
}

.portfolio-item img {
    max-width: 100%;
}

.portfolio-item:nth-child(even) {
    margin-top: 55px;
}

.portfolio-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio-title {

    font-family: Gilroy-Medium;
    font-size: 28px;
    line-height: 33px;

    color: #000000;
}

.portfolio-link {
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 21px;
    color: #49AD09;

}

.rewievs-container {
    background: #F2F2F2;
    display: flex;
    justify-content: center;

}

.rewievs-item {
    width: 380px;
    padding: 40px 24px 40px 32px;
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1);
    border-radius: 5px;
    border: 1px solid red;
    background-color: #fff;
}

.rewievs-title {
    font-family: "Inter-Medium";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #32435C;

}


.rewievs-comment {
    font-family: "Inter-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.01em;
    color: #6A635B;

}

.simple-rating {
    position: relative;
    font-size: 20px;
    display: inline-block;

}

.simple-rating::before {

    content: "★★★★★";
    display: block;

}

.rating-items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;

}

.rating-item {
    position: absolute;
    height: 0%;
    width: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
}

.rating-label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: #6A635B;
}

.rating-label::before {
    display: block;
    content: "★";
    transition: color 0.5s ease 0s;
}

.rating-label:hover,
.rating-label:hover~.rating-label {
    color: goldenrod;
}

.rating-item:checked,
.rating-item:checked~.rating-label {
    color: #FBB040;
    ;
}


.prices .spec-container {
    max-width: 1170px;
    padding: 10px;
    margin: 80px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 42px;
}

.prices .spec-item {
    transition: all 0.5s ease;
    border-radius: 5px;
}

.prices .spec-item:hover {
    transform: scale(1.1);
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1);


}

.prices .spec-item:hover .spec-link {
    color: white;
    background-color: #49AD09;
}

.item-title-prices {
    font-family: "Gilroy-Medium";
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: #313131;
}

.item-price {
    font-family: "Gilroy-SemiBold";
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    text-transform: capitalize;

    color: #313131;
}

.list-benefists {
    list-style-type: none;
}


.item-benefist:first-child {
    margin-top: 24px;
}

.item-benefist {
    margin-top: 16px;
}

.prices .spec-link {
    font-family: "Gilroy-Medium";
    font-size: 18px;
    line-height: 21px;
    padding: 18px 51px;
    color: #514040;
}

.link:hover {
    color: #fff;
}

.contact-us .spec-title {

    max-width: 425px;
    margin: 120px auto 0 auto;
}

.contact-us .spec-link {
    font-size: 15px;
    font-family: "Inter-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

}

.footer {
    margin-top: 130px;
    padding: 0 15px 0 15px;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1170px;
    margin: 0 auto;
    grid-row-gap: 200px;
}

.column-item {
    font-family: "Gilroy-Medium";
    font-size: 16px;
    line-height: 100%;
    color: #313131;
}

.column-descr {
    margin-top: 36px;
    max-width: 236px;
}

.social {
    display: flex;
    margin-top: 64px;
}

.fb,
.tw,
.in {
    background: #F2F2F2;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.tw {
    margin: 0px 15px 0 15px;
}

.social a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 28px;
}

.footer-column {
    list-style-type: none;
    padding: 0;
}

.column-title {
    font-family: "Gilroy-SemiBold";
    font-size: 20px;
    line-height: 23px;
    margin: 0;
    color: #1C1C1D;
}

.footer-column li:first-child {
    margin: 0;

}

.footer-column li {
    margin-top: 28px;
}

.footer-link {
    font-family: "Gilroy-Medium";
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    color: #313131;

}

.form-title {
    font-family: "Gilroy-SemiBold";
    font-size: 20px;
    line-height: 23px;

    color: #1C1C1D;

}

input {
    font-family: "Gilroy-Medium";
    font-size: 12px;
    line-height: 14px;
    border: none;

    color: #514040;
    position: relative;
    background: #F2F2F2;
    padding: 12px 13px;
}

.input-group-btn {
    position: relative;
}

button {
    position: absolute;
    left: -40px;
    top: 1px;
    background: #fff;
    border: none;
    background: #F2F2F2;
    cursor: pointer;
}

.footer-bottom {
    margin-top: 77px;
    border-top: 1px solid #EDEDED;
    padding: 40px 0;
    text-align: center;
    font-family: "Gilroy-Medium";
    font-size: 16px;
    line-height: 100%;
    color: #313131;

}

/*-----------------BREAKPOINTS---------------*/

@media (max-width: 1140px) {
    .companies img {
        padding: 15px;
    }

    .portfolio-container {
        max-width: 470.5px;
        grid-template-columns: 1fr;
        padding: 0 15px;

    }

    .portfolio-item:nth-child(even) {
        margin-top: 0px;
    }

}

@media (max-width: 992px) {

    .prices .spec-container {
        max-width: 362px;
        grid-template-columns: 1fr;
        grid-gap: 42px;
    }


}

@media (max-width: 768px) {
    .companies {
        display: none;
        padding: 0;
        margin: 0;
    }

    .spec-container {

        grid-template-columns: 1fr;
    }

    .footer-top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 560px;
        margin: 0 auto;
        grid-row-gap: 22px;
        justify-items: center;
    }

}

@media (max-width: 576px) {
    body {
        font-size: 15px;
    }

    .spec-title {

        font-size: 35px;

    }

    .hero-title {
        font-size: 3rem;
    }

    .footer {
        margin-top: 34px;
    }

    .spec-question {
        margin-top: 40px;
    }
}

@media (max-width: 375px) {}